<p id="notice"><%= notice %></p>

<h1>Тренировки</h1>

<div class="pull-right">
  <%= link_to "Новая тренировка", new_training_path %>
</div>


<!--index . the list-->
<table class="table training-index-table">
  <colgroup>
    <col width="10%" style="background: #fafafa" />
    <col width="30%" />
    <col width="30%" />
    <col width="30%" />
  </colgroup>
  <thead>
  <tr>
    <th>(#id)</th>
    <th class="center">Создана</th>
    <th class="center">Комментарий</th>
    <th class="center">Действия</th>
  </tr>
  </thead>

  <tbody>
    <%  %>
    <% @trainings.each do |trn| %>
    <% training = TrainingPresenter.new trn %>
      <tr>
        <td><%= training.id%></td>
        <td><%= training.created_at%></td>
        <td><%= training.created_at%></td>
        <td><%= training.created_at%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!--END index . the list-->
<br>

<%= link_to 'New training', new_training_path %>

